@{
    ViewData["Title"] = "RecipeCooking";
}

@model DisplayInfo

<br />
<div class="wrapper">
    <div class="RecipeBox CookwareBox">
            <h3>Required Cookware:</h3>
        @if (Model.step.RequiredCookware != null)
        {
            @foreach (string s in Model.step.RequiredCookware)
            {
                <p>@s</p>
            }
        }

            <h3>Sugested Cookware:</h3>
        @if (Model.step.SuggestedCookware != null)
        {
            @foreach (string s in Model.step.SuggestedCookware)
            {
                <p>@s</p>
            }
        }
    </div>

    <div class="RecipeBox IngredientBox">
            <h3>Ingredients:</h3>
        @if (Model.step.Ingredients != null)
        {
            @foreach (Ingredient i in Model.step.Ingredients)
            {
                <p>@i.Name @i.Amount @i.Unit (@i.SpecialInstructions)</p>
            }
        }
    </div>
    <br />
    <div class="RecipeBox StepsBox">
        <h3>Step:</h3>
        <p>@Model.step.Instructions</p>

        @if (Model.timers.Count > 0)
        {
            <h2>Active Timers:</h2>
            foreach (KeyValuePair<string, int> timer in Model.timers)
            {
                <p>@timer.Key: @timer.Value min</p>
            }
        }

        <form action="/" method="post">
            <button class="btn-hover color-8" asp-controller="Cooking" asp-action="Tutorial">NextStep</button>
            </form>

    </div>

</div>