
@{
    ViewData["Title"] = "RecipieEntry";
}

@model Recipe

<h1>RecipieEntry</h1>

<form method="post">
    <p>
        <label asp-for="RecipeName">Name Of Recipie:</label>
        <input asp-for="RecipeName" />
        <span asp-validation-for="RecipeName"></span>
    </p>
    <p>
        <label asp-for="RecipeDescription">Description Of Recipie:</label>
        <input asp-for="RecipeDescription" />
        <span asp-validation-for="RecipeDescription"></span>
    </p>
    @if (Model.Steps != null && Model.Steps.Count > 0)
    {
        @foreach (var item in Model.Steps)
        {

            <p>Step @Model.Steps.IndexOf(item)</p>
            <p>ingredients</p>
            @*foreach (var ingredient in item.Ingredients)
                {
                    <p>@ingredient.Name : @ingredient.Amount @ingredient.Unit (Special Instructions: @ingredient.SpecialInstructions )</p>
                }*@
            <p>required Cookware</p>
            foreach (string cookware in item.RequiredCookware)
            {
                <p>@cookware</p>
            }
            <p>suggested Cookware</p>
            foreach (string cookware in item.SuggestedCookware)
            {
                <p>@cookware</p>
            }
            if (item.IsTimer)
            {
                <p>Timer: @item.Timer</p>
            }
        }
    }

    <a asp-controller="Recipe" asp-action="CreateStep" asp-route-recipe="@Model">Add Step</a>


    <p>/n</p>

    @*<p><button type="button">AddField</button></p>*@
    <p><button type="submit">Submit</button></p>
</form>

@*<script type="text/javascript">

        $(document).ready(function() {
            var $fields = $('#fields');
            $('#btnAddField').click(function(e) {
                e.preventDefault();
                $('<input type="text" name="dynamicField" /><br/>').appendTo($fields);
            });
        });

</script>*@