
@{
    ViewData["Title"] = "CreateStep";
}

@model RecipeStep

<h1>Step</h1>

<form method="post">

    <p>
        <label asp-for="Instructions">Instructions for this step:</label>
        <input asp-for="Instructions" />
        <span asp-validation-for="Instructions"></span>
    </p>
    @if (Model != null && Model.RequiredCookware != null && Model.RequiredCookware.Count > 0)
    {
        foreach (string s in Model.RequiredCookware)
        {
            <p>@s</p>
        }
    }
    <p>
        <label asp-for="TempRequiredCookware">Cookware required for this step:</label>
        <input asp-for="TempRequiredCookware" />
        <span asp-validation-for="TempRequiredCookware"></span>
    </p>
    @if (Model != null && Model.SuggestedCookware != null && Model.SuggestedCookware.Count > 0)
    {
        foreach (string s in Model.RequiredCookware)
        {
            <p>@s</p>
        }
    }
    @*@Model.RequiredCookware.Add("");*@
    <p>
        <label asp-for="TempSuggestedCookware">Cookware suggested for this step:</label>
        <input asp-for="TempSuggestedCookware" />
        <span asp-validation-for="TempSuggestedCookware"></span>
    </p>
    <p>
        <label asp-for="IsTimer">Is there a timer for this step:</label>
        <input asp-for="IsTimer" />
        <span asp-validation-for="IsTimer"></span>
    </p>
    <p>

        <label asp-for="Timer">If there is a timer how much time is on it</label>
        <input asp-for="Timer" />
        <span asp-validation-for="Timer"></span>
    </p>
    @if (Model != null && Model.Ingredients != null)
    {
        <div class="RecipeBox">
        @foreach (Ingredient i in Model.Ingredients)
        {
            <p>@i.Name @i.Amount @i.Unit (@i.SpecialInstructions)</p>
        }
        </div>
    }

    <button class="btn-hover color-8" asp-action="CreateStep" asp-route-addingIngredient="True" type="submit">Add Ingedient</button>

    <button class="btn-hover color-8" asp-action="CreateStep" type="submit">Submit</button>

</form>