
@{
    ViewData["Title"] = "RecipieEntry";
}

@model Recipe

<h1>RecipieEntry</h1>
<hr />
<form method="post">
    <p>
        <label asp-for="RecipeName">Name Of Recipie:</label>
        <input asp-for="RecipeName" />
        <span asp-validation-for="RecipeName"></span>
    </p>
    <p>
        <label asp-for="RecipeDescription">Description Of Recipie:</label>
        <input asp-for="RecipeDescription" />
        <span asp-validation-for="RecipeDescription"></span>
    </p>
    @if (Model != null && Model.Steps != null && Model.Steps.Count > 0)
    {
<div class="RecipeBox">
    @foreach (var item in Model.Steps)
    {

        <h2>Step @(Model.Steps.IndexOf(item) + 1)</h2>
        <h3>ingredients</h3>
        @if (item.Ingredients != null)
        {
            foreach (Ingredient ingredient in item.Ingredients)
            {
                <p>@ingredient.Name : @ingredient.Amount @ingredient.Unit (Special Instructions: @ingredient.SpecialInstructions )</p>
            }
        }
        if (item.RequiredCookware != null)
        {
            <h3>required Cookware</h3>
            foreach (string cookware in item.RequiredCookware)
            {
                <p>@cookware</p>
            }
        }
        if (item.SuggestedCookware != null)
        {
            <h3>suggested Cookware</h3>
            foreach (string cookware in item.SuggestedCookware)
            {
                <p>@cookware</p>
            }
        }
        if (item.IsTimer)
        {
            <p>Timer: @item.Timer</p>
        }
        <hr />
    }
</div>
        
    }

    @*<a class="titleLink" asp-controller="Recipe" asp-action="CreateStep" asp-route-recipe="@Model">Add Step</a>*@
   <button class="btn-hover color-8" asp-action="Create" asp-route-addingStep="True" type="submit">Add Step</button>
    <button asp-action="Create" type="submit" class="btn-hover color-8" >Submit</button>
</form>
