@model Recipe

<h1>@Model.RecipeName</h1>
<p>@Model.RecipeDescription</p>
<h2>instructions:</h2>
@if(Model.Steps != null)
{

    @for (int i = 0; i < Model.Steps.Count; i++)
    {
        <h3>Step number: @(i+1)</h3>

        if(Model.Steps.ElementAt(i).RequiredCookware != null)
        {
            <h4>required cookware:</h4>
            foreach (string c in Model.Steps.ElementAt(i).RequiredCookware)
            {
                <p>@c</p>
            }
        }
        if (Model.Steps.ElementAt(i).SuggestedCookware != null)
        {
            <h4>Suggested cookware:</h4>
            foreach (string c in Model.Steps.ElementAt(i).SuggestedCookware)
            {
                <p>@c</p>
            }
        }
        if (Model.Steps.ElementAt(i).Ingredients != null)
        {
            <h4>Ingreedients:</h4>
            foreach (Ingredient ingredient in Model.Steps.ElementAt(i).Ingredients)
            {
                <p>@ingredient.Name @ingredient.Amount @ingredient.Unit (@ingredient.SpecialInstructions)</p>
            }
        }
        <h4>Instructions</h4>
        <p>@Model.Steps.ElementAt(i).Instructions</p>

        if(Model.Steps.ElementAt(i).IsTimer)
        {
            <h4>Timer:</h4>
            <p>@Model.Steps.ElementAt(i).Timer</p>
        }
    }
}
