@model Recipe
<h1>@Model.RecipeName</h1>
@if (Model.Steps != null)
{
    /*Image*/
    <div>

    </div>
    /*Ingredients*/
    <div class="RecipeBox">
        <h3>Ingredients:</h3>
        @for (int i = 0; i < Model.Steps.Count; i++)
        {
            if (Model.Steps.ElementAt(i).Ingredients != null)
            {
                foreach (Ingredient ingredient in Model.Steps.ElementAt(i).Ingredients)
                {
                    <p>@ingredient.Name @ingredient.Amount @ingredient.Unit (@ingredient.SpecialInstructions)</p>
                }
            }
        }
    </div>
    /*Controls*/
    <div>

    </div>
    /*Cookware*/
    <div class="RecipeBox">
        <div>
            <h3>Required Cookware:</h3>
            @for (int i = 0; i < Model.Steps.Count; i++)
            {
                if (Model.Steps.ElementAt(i).RequiredCookware != null)
                {
                    foreach (string c in Model.Steps.ElementAt(i).RequiredCookware)
                    {
                        <p>@c</p>
                    }
                }
            }
        </div>
        <div>
            <h3>Suggested cookware:</h3>
            @for (int i = 0; i < Model.Steps.Count; i++)
            {
                if (Model.Steps.ElementAt(i).SuggestedCookware != null)
                {
                    foreach (string c in Model.Steps.ElementAt(i).SuggestedCookware)
                    {
                        <p>@c</p>
                    }
                }
            }
        </div>
    </div>
    /*Recipe*/
    <div class="RecipeBox">
        <h3>Steps:</h3>
        @for (int i = 0; i < Model.Steps.Count; i++)
        {
            <h4>Step number: @(i + 1)</h4>
            <p>@Model.Steps.ElementAt(i).Instructions</p>
        }
        <div>

        </div>
    </div>
}
