@model List<Recipe>


@for(int i = 0; i < Model.Count; i++)
{
    
    <p>@Model.ElementAt(i).RecipeName</p>
    <a asp-controller="Recipe" asp-action="RecipeDetails" asp-route-recipe="i">@Model.ElementAt(i).RecipeName</a>
    <p>@Model.ElementAt(i).RecipeDescription</p>
    <p>@Model.ElementAt(i).Steps.Count() steps</p>
    if(@Model.ElementAt(i).Steps != null)
    {
    <p>ingredients:</p>
        List<Ingredient> ingredients = new List<Ingredient>();
        foreach(RecipeStep s in Model.ElementAt(i).Steps)
        {
            if(s.Ingredients != null)
            {
                foreach (Ingredient ingredient in s.Ingredients)
                {
                    <p>@ingredient.Name, @ingredient.Amount, @ingredient.Unit</p>
                }
            }
        }
        
    }
}